<%- include('header.ejs') %>
<div style="width:50%;margin-left:20%;">
    <h3 style="margin-left:38%">Add Course</h3>
    <form action="postCourse" method="POST" >
      <div class="form-group">
       <label for="exampleFormControlInput1">Title</label>
       <input type="text" class="form-control" name="title" id="exampleFormControlInput1" >
     </div>
     <div class="form-group">
    <label for="exampleFormControlTextarea1">Info</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="info" rows="7"></textarea>
  </div>
  <br>
  <button type="submit" style="margin-left:45%" class="btn btn-primary" name="button">Post</button>
         <!-- Title : <input type="text" name="title"> <br>
         Content : <textarea name="content" id="" cols="30" rows="5"></textarea> <br>
         <button type="submit">Post New Article</button> -->
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
