<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="viewProfile" method="post">
        <button type="submit">View Profile</button>
    </form>
    <a href="login">Login</a> <br>
    <a href="register"> Register</a> <br>
    <a href="jobs">Jobs</a> <br>
    <a href="article">Articles</a> <br>
    <a href="getCourse">Training and Courses</a> <br>
    <a href="getQuestion">Discussion Forum</a> <br>
    <a href="adminJobs">Approve jobs as admin</a> <br>
    <a href="adminArticles">Approve articles as admin</a> <br>
    <a href="adminVideos">Approve videos as admin</a><br>
    <form action="jobsParti" method="post">
        <button type="submit">Show User Jobs</button>
    </form> <br>

    <a href="editUser">Edit Profile</a> <br>
    <form action="logout" method="POST">
        <button type="submit">Logout</button>
    </form> -->

    <%- include('header.ejs') %>
    
</body>
</html>
